
<div class="cart-section-main-div">

  <div class="row fluid-container">
    <div class="cart-section-img-container">
    <%= image_tag element.preview.url(:medium), class: "float-left img-thumbnail rounded cart-section-img"%>
    </div>

    <div class="cart-section-info">
    <h4 class = "cart-section-info-title"><%= element.name %></small></h4>
    <div class="cart-section-details-container text-right">
    <h2 class = "cart-section-details">Reserved amount: </small><span style = "color:green"><%= reserve_item.amount.to_i%></span></h2>
    </div>
    <h6 class="cart-section-description"><%= element.desciption%></h6>
    <%= form_for reserve_item, remote: true do |f| %>
    <div class="cart-section-btn-group">
      <div class = "btn-group-element input-group">
        <div class= "input-group-btn btn-group">
          <%= f.number_field :amount, value: reserve_item.amount.to_i, class: "form-control int-input", min: 1 %>
          <%= f.hidden_field :element_id, value: element.id %>
          <%= f.submit "Update", class: "btn btn-primary" %>
          <%= link_to "Delete", reserve_item, { data: { confirm: "Are you sure you wish to delete '#{reserve_item.element.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
        </div>
      </div>
      </div>
      </div>
      <% end %>
    <hr>
  </div>
</div>
