<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= element.name %></h4>
    </div>
    <div class="col-xs-4">

      <%= form_for reserve_item, remote: true do |f| %>
        <h4 class="text-right">Amount: <span style="color: green"><%= element.amount %> </span></h4>
        <div class="row">
          <div class="col-xs-4">
            <%= f.number_field :amount, value: reserve_item.amount.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :element_id, value: element.id %>
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%= f.submit "Update Quantity", class: "btn btn-primary" %>
              <%= link_to "Delete", reserve_item, { data: { confirm: "Are you sure you wish to delete the product '#{reserve_item.element.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
