
  <div  id = "element-row">

    <div class="element-cart-section">


          <%= image_tag element.preview.url(:medium), class: "img-element"%>

          <h4 class = "name-text"><%= element.name %></small></h4>
          <h2 class = "amount-text-cart text-right">Actual amount: </small><span style = "color:green"><%= reserve_item.amount.to_i%></span></h2>
          <%= form_for reserve_item, remote: true do |f| %>
          <div class="row ">
<div class = "btn-input-group-cart">
                <div class= "btn-group">
                  <%= f.number_field :amount, value: reserve_item.amount.to_i, class: "form-control input-number-field btn", min: 1 %>
                  <%= f.hidden_field :element_id, value: element.id %>
                  <%= f.submit "Update Quantity", class: "btn btn-primary" %>
                  <%= link_to "Delete", reserve_item, { data: { confirm: "Are you sure you wish to delete '#{reserve_item.element.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>


          </div>
          </div>
          <% end %>



    </div>

    <hr>

  </div>
    </div>
