
<!DOCTYPE html>
<html>
<head>
  <title> Veltios App </title>
  <%= favicon_link_tag 'favicon.ico'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !current_user.nil?%>
  <div class="top-nav">

    <div class="row top-nav">
      <div class="col-xs-6">
        <h1>
          <%= link_to "Veltios", root_path, class: "link", id: "main-title" %>
          <% if !current_user.nil? && current_user.admin %>
            <%= link_to "Admin Panel", rails_admin_path, class: "link", id: "admin-text"%>
          <% end %>
        </h1>

      </div>
      <div class="col-xs-6 text-right">
        <h1 class="cart-text" ><%= render 'layouts/cart_text' %></h1>
      </div>
    </div>

  </div>


  <div class="sidebar">
  <%= render 'layouts/sidebar'%>
  </div>

    <%= yield %>

  <% else  %>


    <%= yield %>




    <% end %>

</body>
</html>
