
<!DOCTYPE html>
<html>
<head>
  <title> Veltios App </title>
  <%= favicon_link_tag 'favicon.ico'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <% if !current_user.nil?%>






  <header>


    <nav class = "navbar bg-dark navbar-expand-lg navbar-dark">
      <button  onclick="toggleSideBar()"class="btn btn-outline-secondary" type="button" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <a href="" class=" nav-bar-brand"> -->
        <%= link_to "Veltios", root_path, class: "navbar-brand nav-bar-text" %>
        <% if !current_user.nil? && current_user.admin %>
        <!-- <%= link_to "Admin Panel", rails_admin_path, id:"admin_text"%> -->
        <% end %>

        <!-- </a> -->
        <div class="nav-bar-collapse-btns">
            <button class="navbar-toggler nav-bar-cart-btn" type="button">
              <span class="badge badge-dark"><%= link_to "#{current_reserve.reserve_items.size}" , cart_path, class: "icon-badge text-light", id: "cart-amount" %></span>
              <%= open_iconic "icon", "basket"%>
              <%= link_to "" , cart_path, class: "icon-badge text-light", id: "cart-amount" %>
            </button>

          <button onclick="toggleSideBar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#data-side-bar" aria-controls="side-bar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>






        <div class="collapse navbar-collapse nav-bar-collapse-container " id = "navbarSupportedContent">
          <ul class = "navbar-nav nav-bar-collapse-ul collapse navbar-collapse" >
            <!-- <div class=""> -->
            <%= render 'layouts/cart_text'%>
            <!-- </div> -->
          </ul>

        </div>
      </nav>


    </header>

    <!-- <section >
      <aside class="side-bar-aside-container">
        <div class = "side-bar-container"  id= "data-side-bar">
          <ul>
            <li class = "nav-item">
              <a href="" class="nav-link side-bar-text">Sensors</a>
            </li>
            <li class = "nav-item">
              <a href="" class="nav-link side-bar-text">Tools</a>
            </li>
            <li class = "nav-item">
              <a href="" class="nav-link side-bar-text">Kits</a>
            </li>
            <li class = "nav-item">
              <a href="" class="nav-link side-bar-text">Compounds</a>
            </li>
            <li class = "nav-item">
              <a href="" class="nav-link side-bar-text">Elements</a>
            </li>
          </ul>
        </div>

      </aside>


    </section> -->

<section>
    <aside class="side-bar-aside-container">
    <div id="side-bar" class="side-bar-container navbar-collapse" >
      <a href="#">Sensors</a>
      <a href="#">Tools</a>
      <a href="#">Kits</a>
      <a href="#">Compounds</a>
      <a href="#">Elements</a>
    </div>
    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
        <%= yield %>
    </div>

    </aside>
</section>


    <% else  %>


  <%= yield %>




  <% end %>

</body>





</html>
