
<!DOCTYPE html>
<html>
<head>
  <title> Veltios - New York </title>

  <%= favicon_link_tag 'favicon.ico'%>

    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>






  <% if !current_user.nil?%>
  <nav class = "navbar fixed-top bg-dark navbar-expand-lg navbar-dark nav-bar-main">
    <button  onclick="toggleSideBar()"class="btn btn-outline-secondary" type="button" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <a href="" class=" nav-bar-brand"> -->
    <%= link_to "Veltios", root_path, class: "navbar-brand nav-bar-text" %>
    <% if !current_user.nil? && current_user.admin %>
    <%= link_to "Admin", rails_admin_path, id:"admin_text"%>
    <%= link_to "Calendar ", redirect_path, id:"admin_text"%>
    <% end %>

    <!-- </a> -->
    <div class="nav-bar-collapse-btns">
      <button class="navbar-toggler nav-bar-cart-btn" type="button">
        <span class="badge badge-dark"><%= link_to "#{current_reserve.reserve_items.size}" , cart_path, class: "icon-badge text-light", id: "cart-amount" %></span>
        <%= open_iconic "icon", "basket"%>
        <%= link_to "" , cart_path, class: "icon-badge text-light", id: "cart-amount" %>
      </button>


    </div>

    <div class="collapse navbar-collapse nav-bar-collapse-container " id = "navbarSupportedContent">
      <ul id="cart-text-reserve"class = "navbar-nav nav-bar-collapse-ul collapse navbar-collapse" >

        <%= render 'layouts/cart_text'%>

      </ul>

    </div>
  </nav>
  <br><br><br>
  <div id="side-bar" class="side-bar-container navbar-collapse " >
    <a href="#">Sensors</a>
    <a href="#">Tools</a>
    <a href="#">Kits</a>
    <a href="#">Compounds</a>
    <a href="#">Elements</a>
  </div>

  <!-- floating button -->
  <a class="float" id = "float-but" onclick="toggleSearchBar()">
    <%= open_iconic "float-icon", "magnifying-glass"%>
  </a>

  <% end %>
  <div class="move" id = "sb-move-div" style="cursor:pointer">
    <%= yield %>
    <%= debug @converted_date %>
    <%= debug @elements_clone[1]["id"]%>

    <% if !current_user.nil?%>
    <%= render 'layouts/footer'%>

    <% end %>
  </div>

  <% if !current_user.nil? %>
  <!-- Search Bar-->
  <div class="bg-search" id = "bg-search">
    <form class="form-search" action="search">
      <%= search_form_for $q, remote: true do |f| %>
            <%= f.search_field :name_cont, :class => "search-bar", :placeholder => "Type Bro! ", :onfocus =>"expandBottom()", :autocomplete => "off"%>
            <span class = "bottom-bg-search" id = "bottom-search"> </span>
            <div class = "label-div">
              <label class="label-search">Just keep searching or go out...you know...with esc</label>
              <h1 class = "subtitle-search">Gandalf Would suggest </h1>
              <p class = "description-search">The force is strong with this one, is you search with key words. Try to search like Oxygen Sensor, Movement Sensor, etc</p>
            </div>

          </form>
    <% end %>



  </div>
<%end  %>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal-title-options" id="exampleModalLongTitle">Date Rerservation Options</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Form Modal Body  -->
      <form class="modal-body">
        <div class = "modal-description">
        <p1 class = "modal-text">Okay, you already defined the reservation date. However, <a class = "font-weight-bold" data-toggle="tooltip" data-placement="top"  title="Just a Fancy name for the app">Headquarters</a>  also need to know the following information</p1>
        </div>

      <div class="form-modal-info">

        <!-- Student School -->
        <div id = "nameDiv">
          <label class = "label-options">School</label>
          <input class="modal-list-options" list="schools" placeholder="Harvard School" onfocus = "lineExpansion(this.id)" id = "school">
          <span class = "line" ></span>
          <span class = "line lineBelow" id = "line-below-school"></span>
          <!-- Schools Data Sets  -->
          <datalist id="schools">
            <option value="Colegio Nueva York"></option>
            <option value="Mayor de Los Andes "></option>
            <option value="Colombo Gales"></option>
          </datalist>


        </div>
        <!-- Subject -->
        <div>
          <label for=""  class = "label-options">Subject</label>
          <!-- Optitons Div Row    -->
            <div class="row">
              <!-- Physics Option -->
              <div class="col">
                <label for="rdo-1" class="btn-radio">
                    <input type="radio" id="rdo-1" name="radio-grp">
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                        <circle cx="10" cy="10" r="9"></circle>
                        <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                        <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                    </svg>
                    <span>Physics</span>
                </label>

              </div>
              <!-- Biology Option -->
              <div class="col">
                <label for="rdo-2" class="btn-radio">
                    <input type="radio" id="rdo-2" name="radio-grp">
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                        <circle cx="10" cy="10" r="9"></circle>
                        <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                        <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                    </svg>
                    <span>Biology</span>
                </label>
              </div>
              <!-- Chemistry Options -->
              <div class="col">
                <label for="rdo-3" class="btn-radio">
                    <input type="radio" id="rdo-3" name="radio-grp">
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                        <circle cx="10" cy="10" r="9"></circle>
                        <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                        <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                    </svg>
                    <span>Chemistry</span>
                </label>
              </div>
            </div>
        </div>
        <!-- Lab Topic -->
        <div id = "nameDiv">
          <label class = "label-options">Lab Topic</label>
          <input class = "modal-text-options" type="text" placeholder="Pym Particle Lab" onfocus = "lineExpansion(this.id)" id = "topic">
          <span class = "line" ></span>
          <span class = "line lineBelow" id = "line-below-topic"></span>
        </div>
        <!-- Grade -->
        <div id = "nameDiv">
          <label for=""  class = "label-options">Grade</label>
          <input class = "modal-text-options" type="text" placeholder="11A" onfocus="lineExpansion(this.id)" id = "grade">
          <span class = "line " ></span>
          <span class = "line lineBelow" id = "line-below-grade"></span>
        </div>
        <!-- Access BLock -->
        <div>
          <label for=""  class = "label-options">Block</label>
          <!-- Block Selection Row Div   -->
            <div class="row">
              <!-- First Break -->
              <div class="col">
                <label for="1-rdo-1" class="btn-radio">
                    <input type="radio" id="1-rdo-1" name="radio-grp-2">
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                        <circle cx="10" cy="10" r="9"></circle>
                        <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                        <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                    </svg>
                    <span>1st Break</span>
                </label>
              </div>
              <!-- Second Break -->
              <div class="col">
                <label for="2-rdo-2" class="btn-radio">
                    <input type="radio" id="2-rdo-2" name="radio-grp-2">
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                        <circle cx="10" cy="10" r="9"></circle>
                        <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                        <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                    </svg>
                    <span>2nd Break</span>
                </label>
              </div>
              <!-- After School -->
              <div class="col">
                <label for="3-rdo-3" class="btn-radio">
                    <input type="radio" id="3-rdo-3" name="radio-grp-2">
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                        <circle cx="10" cy="10" r="9"></circle>
                        <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                        <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                    </svg>
                    <span>After School</span>
                </label>
              </div>
            </div>
        </div>
    </form>
      <div class="modal-footer">
        <br>
        <button type="button" class="btn btn-light" data-dismiss="modal">Ups, just a mistake</button>
        <button type="button" class="btn btn-danger" onclick = "submitForm()">Change Date!</button>
      </div>
    </div>
  </div>
</div>

</body>

</html>
